<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .blog-img{
            height: 160px;
            object-fit: cover;
        }
    </style>

    <%- include('./partials/head.ejs') %>
    <title>blog-app</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container mt-4">
        <div class="row">
            <% blogs.forEach(blog=> { %>
                <div class="col-md-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="<%= blog.coverImageURL %>" class="card-img-top blog-img" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('./partials/scripts.ejs') %>
</body>
</html>